/*
* 1.GENERAL STYLES
* 2.HEADER
* 3.MAIN CONTENT & SIDEBAR
* 4.FOOTER & OTHER
* 5.MEDIA QUERIES
*/

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
/*------------------
        1.GENERAL STYLES
------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}

html {
	font-size: 100%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
	color: #141412;
	/*font-family:"Roboto", Helvetica, sans-serif!important;*/
	line-height: 1.5;
	margin: 0;
        padding:0;
}
body ::-webkit-scrollbar {
	width:12px;
	background-color:#f5f5f5;
}
body ::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	/*border-radius:10px;*/
	background-color:#f5f5f5;
}
body ::-webkit-scrollbar-thumb {
	/*border-radius:10px;*/
	/*-webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.4);*/
	background-color:#34495e;
}

address {
	font-style: italic;
	margin: 0 0 24px;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

p {
	margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

pre {
	background: #f5f5f5;
	color: #666;
	font-family: monospace;
	font-size: 14px;
	margin: 20px 0;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

blockquote,

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

blockquote {
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
	margin: 24px 40px;
}

blockquote blockquote {
	margin-right: 0;
}

blockquote cite,
blockquote small {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
}

blockquote em,
blockquote i {
	font-style: normal;
	font-weight: 300;
}

blockquote strong,
blockquote b {
	font-weight: 400;
}

small {
	font-size: smaller;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

dl {
	margin: 0 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 20px;
}

menu,
ol,
ul {
	margin: 16px 0;
	padding: 0 0 0 40px;
}

ul {
	list-style-type: square;
}

nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}

li > ul,
li > ol {
	margin: 0;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	vertical-align: middle;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin: 0;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-size: 100%;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
}

button,
input {
	line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	padding-right: 2px;
	width: 270px;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

table {
	border-bottom: 1px solid #ededed;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	line-height: 2;
	margin: 0 0 20px;
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

caption {
	font-size: 16px;
	margin: 20px 0;
}

th {
	font-weight: bold;
	text-transform: uppercase;
}

td {
	border-top: 1px solid #ededed;
	padding: 6px 10px 6px 0;
}

del {
	color: #333;
}

ins {
	background: #fff9c0;
	text-decoration: none;
}

hr {
	background: url(images/dotted-line.png) repeat center top;
	background-size: 4px 4px;
	border: 0;
	height: 1px;
	margin: 0 0 24px;
}

.genericon:before,
.menu-toggle:after,
.featured-post:before,
.date a:before,
.entry-meta .author a:before,
.format-audio .entry-content:before,
.comments-link a:before,
.tags-links a:first-child:before,
.categories-links a:first-child:before,
.edit-link a:before,
.attachment .entry-title:before,
.attachment-meta:before,
.attachment-meta a:before,
.comment-awaiting-moderation:before,
.comment-reply-link:before,
.comment-reply-login:before,
.comment-reply-title small a:before,
.bypostauthor > .comment-body .fn:before,
.error404 .page-title:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	vertical-align: text-bottom;
}

/* Clearing floats */
.clear:after,
.attachment .entry-header:after,
.site-footer .widget-area:after,
.entry-content:after,
.page-content:after,
.navigation:after,
.nav-links:after,
.gallery:after,
.comment-form-author:after,
.comment-form-email:after,
.comment-form-url:after,
.comment-body:after {
	clear: both;
}

.clear:before,
.clear:after,
.attachment .entry-header:before,
.attachment .entry-header:after,
.site-footer .widget-area:before,
.site-footer .widget-area:after,
.entry-content:before,
.entry-content:after,
.page-content:before,
.page-content:after,
.navigation:before,
.navigation:after,
.nav-links:before,
.nav-links:after,
.gallery:before,
.gallery:after,
.comment-form-author:before,
.comment-form-author:after,
.comment-form-email:before,
.comment-form-email:after,
.comment-form-url:before,
.comment-form-url:after,
.comment-body:before,
.comment-body:after {
	content: "";
	display: table;
}
/* Assistive text */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	line-height: normal;
	padding: 15px 23px 14px;
	position: absolute;
	left: 5px;
	top: 5px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

embed,
iframe,
object,
video {
	max-width: 100%;
}

.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}
.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
	color: #220e10;
	font-size: 18px;
	font-style: italic;
	font-weight: 300;
}

img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

a {
    text-decoration:none!important;
}
ul {
    list-style:none;
}
.found_posts { 
	width:100%;
	color:#6D6D6D; 
	padding-left:0.5em;
	font-weight:normal;
}
select.car_select, select.ac_kubik{
	position:relative;
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #DCE4EC;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   outline:none!important;
}
.select-cars select.car_select, select.ac_kubik { margin:0!important; padding:0!important;}
select.ac_kubik { width:80%; }
.full-width-h3 { width:100%; margin-left:0;}
.leftZero {
    padding-left:0;
    margin-left:0;
}
.rightZero {
    padding-right:0;
    margin-right:0;
}
.noPadding {
    padding:0;
}
.noMarginTop {
    margin-top:0!important;
}
.btn-more {
    width:100%;
    border-radius:0;
}
.left {
    float:left!important;
}
.right {
    float:right!important;
}
.user_info {
    background-color:#222aaa!important;
}
.main-green {
    background-color:#27ae60;
}
.home_add a.main-green { float:right!important;/* margin-right:20%; */}
.at15t_twitter, .at15t_facebook , .at15t_google_plusone_share, .at15t_compact { background:none!important; }
.at15t_facebook { background:url(../images/fb.png) 0 0 no-repeat!important; }
.at15t_twitter { background:url(../images/tw.png) 0 0 no-repeat!important;}
.at15t_google_plusone_share { background:url(../images/gp.png) no-repeat!important;}
.at15t_compact { background:url(../images/sh.png) no-repeat!important;}
.addthis_32x32_style .at15t_facebook, .addthis_32x32_style .at15t_twitter, .addthis_32x32_style .at15t_google_plusone_share, .addthis_32x32_style .at15t_compact{ 
	background-position-x:0!important;
	background-position-y:0!important;
}
.single_post_more_info { position:relative; margin-top:1.5em!important }
.social_addthis {
width: auto;
position: absolute;
z-index: 2;
right: 5px;
top: ;
bottom: -0.55em;
}
.social_addthis ul { display: block; }
.social_addthis li { display:inline-block; }
.addthis_tweet { float:right; width:90px!important; margin-left:0.4em; } 
.addthis_button_tweet .at300b { width:90px!important; }
.see-all { 
	color:#444;
	margin:0 1em; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
	font-weight: normal;
}
.error_input { border:1px solid red!important; }
.error{background:#E95D4E; color:#fff;padding:5px;text-align:left;width:80%; margin: 0!important;}
.single_item_auto {
	background-color:#13944a;
    width:24%; 
    padding:0px 10px 15px 10px;
    margin-top: 5px;
}
.single_item_header{
    border-bottom: solid 1px #1d1d1d;
    padding-bottom: 10px;
    padding-top: 10px;
}
.single_item_featured_image{
    width: 100%;
    margin-top: 10px;
}
.single_item_featured_image img{
    width: 100%;
    height: auto;
}
.main-green:hover, 
.main-green:focus, 
.main-green:active, 
.main-green.active, 
.main-green.disabled, 
.main-green[disabled] {
    background-color:#1E8549;
}
h1.page-header, h2.page-header {
border: 0px;
color: #022a3b;
font-size: 30px;
font-weight: 300;
font-style:normal;
line-height: 40px;
margin: 20px 0px;
padding: 0px;
}

h3.page-header {
	margin: 0 0 55px 0;
	border-bottom: 1px solid  rgba(111, 111, 111, 0.4);
	text-align: center;/*
	font-family: Georgia, "Times New Roman", Times, serif;*/
	font-size: 1.5em;
	font-weight: 300;
	color: #444;
	font-weight: normal;
}
h3.page-header span {
	background: #fff;
	padding: 10px 25px;
	position: relative;
	top: 28px;
}
.arrow {
	width:150px;
	height:40px;
	background:url(../images/arrow3.png) center center no-repeat;
	position:absolute;
	left:-140px;
	top:30px;
}
#search {
	position:absolute;
	background:#486684;
	/*border-radius: 3px;*/
	display: inline-block;
	padding: 1em;
	top:0;
        display:none;/** last edited 20/04/2014 - to fix it **/
}
#search input {
	float: left;
}
#search input[type="search"] {
	background: #fff;
	color: #42454e;
	min-height:35px;
	margin:0.5em;
}
.modal-body i {
	margin:0 1em;
}
.fileupload a i, .fileupload-exists i, .fileupload-new i { padding-right:5px!important; vertical-align:0!important;}
.fileupload-exists i, .fileupload-new i { margin-right:5px!important; }
.contact_info i { vertical-align:0!important; }
.contact_info span { color:#C0392B; }
.fileupload-preview img { display:block!important;}
.thumbnail { border-radius:0!important;}

#small_loader {
	position:absolute;
	left:10px;
	bottom:25px;
}

#ajax_message {
	font-size:14px;
	float:left;
	margin-left: 30px;
}

.alert-new-info {
	background-color: #D9EDF7;
	border-color: #BCE8F1;
	color: #31708F;
}
.alert-new {
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
}
.alert-new-success {
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}

.alert-new-warning {
	background-color: #FCF8E3;
	border-color: #FAEBCC;
	color: #8A6D3B;
}

#preloader {
	position: fixed;
	display: block;
	top: 0;/* making preloader cover all screen */
	right: 0;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position:center; center;
	background-size: auto auto;
	background-color:#fff;
	z-index:999999;
	overflow:hidden!important;
}
#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%;
	top:50%;
	background-image:url(../images/239.gif);
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px;
}
.auto_container {
	min-height:250px;
	margin-bottom:1em!important;
}
.auto_container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.auto_container .image {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 100px;
}
.auto_container .image a {
    background-color: transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-in 0s;
    width: 100%;
}
.auto_container .image a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/eye.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.auto_container .title {
    background-color:#0f2944;
    margin:0;
    padding:0;
}
.auto_container .title h3 {
    line-height: 1;
    margin: 0;
    line-height:22px;
    font-size:1em;
    padding:0.5em 0;
    text-align:center;
}
.auto_container .title h3 a {
	color:#fff!important;
	font-weight:100;
    line-height: 1;
    text-decoration: none;
}
.auto_container .location {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 5px;
}
.auto_container .price {
    color: #022A3B;
    font-size: 12px;
    font-weight: 100;
    padding:0!important;
    line-height: 1;
}
.auto_container .price span.label {
	-webkit-border-radius:0px!important;
	-moz-border-radius:0px!important;
	border-radius:0px!important;
}
.auto_container:last-child {
    margin-bottom: 0;
}
.auto_container .image {
    width: 80px;
}
.auto_container .title {
    margin-bottom: 3px;
    margin-top: 0;
}

.auto_container .image {
    float: none;
    width: 100%;
}
.auto_container .image img {
    width: 100%;
}

.auto_container .location {
    padding: 0 10px;
}
.auto_container .price {
    margin-bottom: 5px;
    padding: 0 10px;
}
.auto_container_grid .auto_container h2 a {
    color: #06A7EA!important;
    font-size: 18px!important;
    font-weight: normal!important;
    transition: color 0.1s ease-in 0s!important;
}
.auto_container_grid .auto_container {
	display: inline-block;
	zoom: 1;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
	background-color: #fff;
	margin-bottom: 30px;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
}
.auto_container_grid .auto_container .image {
	overflow: hidden;
	position: relative;
}
.auto_container_grid .auto_container {
	zoom: 1;
}
.auto_container_grid .auto_container .price_type, .all_price {
	background-color:#27AE60;
	color: #fff;
	font-size: 18px;
	font-weight:normal;
	padding: 5px 16px;
	position: absolute;
	left: -10px;
	bottom: 0px;
}
.auto_container_grid .auto_container .price_type:before, .all_price:before {
	display:block;
	position:absolute;
	content:"";
	height:0;
	width:0;
	top:37px;
	left:0px;
	border-top:10px solid #555;
	border-left:10px solid transparent;
}

.auto_container_grid .auto_container .price, .grid_price_status {
	color: #313131;
	font-size: 18px;
	padding: 5px 16px;
	position: absolute;
	margin-bottom:0;
	right: 0px;
	bottom: 0px;
}

.auto_container_grid .auto_container .location {
    padding: 0 15px;
}
.location{font-size:12px}.auto_container_grid:not(ul) .auto_container .area{float:none;margin:0px}
.auto_container_grid:not(ul) .auto_container .area,.auto_container_grid:not(ul) .auto_container .bedrooms,.auto_container_grid:not(ul) .auto_container .bathrooms{font-size:12px}
.auto_container_grid:not(ul) .auto_container .bedrooms,.auto_container_grid:not(ul) .auto_container .bathrooms{float:left;margin-left:16px}}
.content .auto_container{display:inline-block;zoom:1;-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);box-shadow:0px 1px 1px rgba(0,0,0,0.1);background-color:#fff;display:block;margin-bottom:15px}
.content .auto_container:after{height:0;content:".";display:block;clear:both;visibility:hidden}
.content .auto_container .image{float:left;margin-right:10px;position:relative;width:100px}
.content .auto_container .image a{-webkit-transition:background-color 0.2s ease-in;-moz-transition:background-color 0.2s ease-in;-o-transition:background-color 0.2s ease-in;transition:background-color 0.2s ease-in;background-color:rgba(0,0,0,0);display:block;height:100%;left:0px;position:absolute;top:0px;width:100%}

 .content .auto_container .wrapper{padding:4px 0px}
.content .auto_container .title{margin-bottom:7px;margin-top:5px}

.auto_container_grid .auto_container {
    background-color: #fff;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    display: inline-block;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    width: 100%;
}
.auto_container_grid .auto_container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.auto_container_grid .auto_container .image {
    overflow:visible!important;
    position: relative;
}
.auto_container_grid .auto_container .image a {
    background-color: transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-in 0s;
    width: 100%;
    z-index: 200;
}
.auto_container_grid .auto_container .image a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/eye.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.auto_container_grid .auto_container .image img {
    height: auto;
    min-height:165px!important;
    max-height: 165px;
    width: 100%;
}
.auto_container_grid .auto_container h2 {
	text-align:center;
    line-height: 22px;
    padding: 0 15px;
}
.auto_container_grid .auto_container h2 a {
    color: #06A7EA;
    font-size: 18px;
    font-weight: normal;
    transition: color 0.1s ease-in 0s;
}
.auto_container_grid .auto_container h2 a:hover {
    color: #0584B8;
    text-decoration: none;
}
.auto_container_grid .auto_container .location {
    padding: 0 15px;
}

.auto_container_grid .auto_container .rent-sale {
    background-color: #FFFFFF;
    bottom: 15px;
    color: #313131;
    font-size: 18px;
    left: 15px;
    padding: 5px 16px;
    position: absolute;
}
.auto_container_grid .auto_container .reduced {
    background-color: #313131;
    color: #FFFFFF;
    font-size: 18px;
    padding: 5px 16px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.auto_container_grid .auto_container .area {
    color: #313131;
    float: left;
    margin-top: 8px;
}
.auto_container_grid .auto_container .area .key {
    display: inline;
    font-weight: 100;
    padding: 0 0 0 15px;
}
.auto_container_grid .auto_container .area .value {
    display: inline;
    float:right;
}

.auto_container_grid:not(ul) .auto_container .reduced, .auto_container_grid:not(ul) .auto_container .price {
    font-size: 14px;
}
.auto_container_grid:not(ul) .auto_container .reduced, .auto_container_grid:not(ul) .auto_container .price {
    font-size: 11px;
    padding: 5px 4px;
}
.auto_container_grid:not(ul) .auto_container h2 a {
    font-size: 14px;
}
.auto_container_grid:not(ul) .auto_container .location {
    font-size: 12px;
}
.auto_container_grid:not(ul) .auto_container .area {
    float: none;
    margin: 0;
}

.auto_container_grid:not(ul) .auto_container .bedrooms, .auto_container_grid:not(ul) .auto_container .bathrooms {
    float: left;
    margin-left: 16px;
}


.more_info {
	color:#555;
	margin-top:0.5em;
}

.year_info {
	float:left;
	padding-left:0.5em;
}
.location_info {
	float:right;
	padding-right:0.5em;
}
.filter {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    height: auto;
    margin: 0 0 30px;
    padding: 10px;
}
.filter:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.filter form {
    float: right;
    margin: 0;
}
.filter form .control-group {
    float: right;
    margin-bottom: 0;
}
.filter form .control-group label {
    color: #1B1B1B;
    font-weight: bold;
    line-height: 30px;
}
.filter form .control-group select {
    width: 100px;
}
.filter form .control-group .control-label {
    width: 100px;
}
.filter form .control-group .controls {
    margin-left: 120px;
}
.filter form .control-group .chzn-container {
    -moz-box-sizing: border-box;
}
.filter form .btn {
    margin-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.auto_container {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 30px;
    padding: 0;
    position: relative;
}
.auto_container:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.auto_container:last-child {
    margin-bottom: 0;
}
.auto_container .title-price {
    padding-bottom: 3px;
    padding-top: 17px;
}
.auto_container .title-price .title h3 {
    line-height: 1;
    margin: 0;
}
.auto_container .title-price .title h3 a {
    color: #06A7EA;
    font-size: 24px;
    font-weight: normal;
    transition: color 0.2s ease-in 0s;
}
.auto_container .title-price .title h3 a:hover {
    color: #0584B8;
    text-decoration: none;
}
.auto_container .title-price .price {
    clear: right;
    color: #313131;
    float: right;
    font-size: 24px;
    margin-top: 3px;
    padding-right: 30px;
    text-align: right;
}
.auto_container .body {
    padding-bottom: 7px;
}
.auto_container .body p {
    padding-right: 30px;
}
.auto_container .body .btn {
    display: none;
}
.auto_container .image {
    position: relative;
    text-align: center;
}
.auto_container .image .content img {
    width: 100%;
}
.auto_container .image .content a {
    background-color: transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.2s ease-in 0s;
    width: 100%;
}
.auto_container .image .content a:hover {
    background-color:rgba(44, 62, 80, 0.7);
    background-image: url("../images/eye.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.auto_container .location {
    background-position: left bottom;
    background-repeat: repeat-x;
    color: #707070;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 12px;
    margin-right: 30px;
    padding-bottom: 12px;
}
.auto_container .area {
    display: inline-block;
    margin-right: 10px;
}
.auto_container .area .key {
    background-color: transparent;
    border-radius: 0 0 0 0;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-shadow: none;
}
.auto_container .title-price .title h2 a {
    font-size: 18px;
}
.auto_container .title-price .price {
    font-size: 18px;
}
.auto_container .location {
    font-size: 14px;
}
.filter form .control-group label {
    float: left;
    line-height: 40px;
}
.filter form .control-group:last-child {
    margin: 0;
}
.auto_container .body {
    padding: 20px;
}
.auto_container .title-price {
    padding: 0;
}
.auto_container .title-price .title {
    float: left;
    width: auto;
}
.auto_container .title-price .title h2 a {
    font-size: 16px;
    line-height: 1;
    vertical-align: top;
}
.auto_container .title-price .price {
    float: right;
    font-size: 16px;
    line-height: 1;
    width: auto;
}
.auto_container .location {
    font-size: 14px;
    margin-right: 0;
}
.auto_container-filter {
    -moz-box-sizing: border-box;
    background-color: #0581B5;
    display: block;
    padding: 20px;
    width: 100%;
}
.auto_container-filter:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.auto_container-filter .chzn-container {
    -moz-box-sizing: border-box;
    width: 100% !important;
}
.auto_container-filter .chzn-container .chzn-single {
    border: 0 none;
}
.auto_container-filter .chzn-container .chzn-drop {
    border: 0 none;
}

.auto_container-filter .price-to, .auto_container-filter .baths {
    float: right;
}
.auto_container-filter .rent, .auto_container-filter .sale {
    width: 48%;
}
.auto_container-filter .rent {
    clear: left;
    float: left;
}
.auto_container-filter .sale {
    clear: right;
    float: right;
}
.auto_container-filter .price-value {
    clear: both;
    color: #FFFFFF;
    float: left;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
    width: 100%;
}
.auto_container-filter .price-slider {
    clear: both;
    display: block;
    float: left;
    margin: 15px 0 20px;
    width: 100%;
}
.auto_container-filter .price-slider:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.auto_container-filter .form-actions {
    background-color: transparent;
    border: 0 none;
    margin: 0;
    padding: 0;
}
.auto_container-filter .form-actions .btn {
    background-color: #022A3B;
    font-weight: bold;
    width: 100%;
}
.auto_container-filter .form-actions .btn:hover {
    background-color: #011F2C;
}
.auto_container-filter {
    font-size: 12px;
}
.auto_container-filter label {
    font-size: 12px;
}
.auto_container-detail {
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.auto_container-detail .overview {
    border: 1px solid #B5B5B5;
    margin: 0 30px 10px 0;
    padding: 20px;
}
.auto_container-detail .overview h2 {
    clear: both;
    line-height: 1;
    margin: 0 0 20px;
}

.h4Full { width:60%!important; }

.navbar-inner {
	background:#fff;
	border:none;
}
.tickercontainer {
    background: #fff;
    height: 27px; 
    margin: 0; 
    padding: 0;
    overflow: hidden;
}
.tickercontainer .mask {
    position: relative;
    left: 10px;
    top: 8px;
    overflow: hidden;
}
ul.news-scroller {
    position: relative;
    left: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.news-scroller li {
    float: left;
    margin: 0;
    padding: 0;
    background: #fff;
}
ul.news-scroller li em {
	font-size:0.9em;
}
ul.news-scroller a {
    white-space: nowrap;
    padding: 0;
    color:#06A7EA!important;
    margin: 0 50px 0 0;
} 
ul.news-scroller span {
    margin: 0 10px 0 0;
} 
.main-header {
    /*background-color:#2c3e50;*/
    background-color:#28282B;
}

#top-navigation ul,.main-navigation ul {
    display:block;
    margin-bottom:0;
    margin-top:0;
}
#top-navigation ul li {
    display:inline-block;
    padding:1em;
    padding-left:0;
    margin-right:1em;
}
#top-navigation ul li:last-child {
    margin-right:0;
}
#top-navigation ul li a {
	font-size:14px;
    color:#ecf0f1;
}
#top-navigation ul li a:hover {
    color:#bdc3c7;
    -moz-transition:all .3s ease-in-out;
    -webkit-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out;
}

.main-menu {
    padding:1em 0 0 0;
    min-height:50px;
}
.main-navigation ul li {
    display:inline-block;
    line-height:28px;
    margin-right:1.2em;
    padding:1em 0;
}
.main-navigation ul li a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #2c3e50;
	text-decoration: none;
	text-transform:uppercase;
	text-shadow: 0 0 1px rgba(0,0,0,0.25);
        
}
.effect a {
	padding: 8px 0;
        
}

.effect a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
        background: rgba(125, 196, 238, 0.5);
	/*background: rgba(0,0,0,0.1);*/
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
        
}

.effect a:hover::after,
.effect a:focus::after {
	opacity: 1;
	/*-webkit-transform: translateY(0px);*/
	-moz-transform: translateY(0px);
	transform: translateY(0px);
        
}
#wrapper {
    position:relative;
    margin-top:1em;
}
.flex {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
}
.flex canvas {
    margin:auto;
}
.pagination {
clear:both;
padding:2em 0;
position:relative;
font-size:1em;
line-height:1.2em;
bottom:.5em;
left:.5em;
}
 
.pagination span, .pagination a {
display:block;
float:left;
/*margin: 0.5em 0.5em 0.5em 0;*/
padding:1em;
text-decoration:none;
width:auto;
color:#fff;
background: #E95D4E;
/*-moz-border-radius:5px;*/
/*-webkit-border-radius:5px;*/
/*border-radius:5px!important;*/
cursor:pointer;
}
 
.pagination a:hover{
color:#fff;
background: #2C3E50;
-moz-transition:background .1s ease-in;
 -webkit-transition:background .1s ease-in;
transition:background .1s ease-in;
}
 
.pagination .current{
padding:1em;
background: #272D32;
color:#fff;
}
/*------------------
        3.MAIN CONTENT & SIDEBAR
------------------*/
.main-content {
    position:relative;
    /*background:#0E0E0E url(../images/full_bg.png) center center no-repeat;
    background-size:cover;*/
    background:#fff url(../images/full_bg.png) right 50px no-repeat;
    border-top:10px solid rgb(72, 102, 132);
    min-height:250px;
    margin:0.5em 0 0 0;
}
.search-form-container {
	background:rgba(255,255,255, .99);
	margin-bottom:1em;
	width:75%;
}
.search-form-container ul {
	margin-top:0;
}
.search-form-container label {
	color:#444!important;
	padding-top:0;
}
.search-form-container select {
	padding:0;
	margin:0;
}
.search-container h4 {
	width:100%;
	position:relative;
	background-color:#486684;
	padding:0.5em;
	font-weight:100;
	margin-top:0;
	border-bottom:5px solid #3A5269;
	color:#fff;
}

.search-container h4 i.paper {
	position:absolute;
	left:-4px;
	top:-6px;
	color:#fff;
	text-shadow:3px 0px #3A5269;
}
.search-container form {
	padding:0.5em;
	margin-left:1em;
}
.search-container select {
	width:60%;
}
.search-container label {
    color:#fff;
}

.search-form-container div select {
	margin:.5em 0;
	/*width:50%!important;*/
}
.search-container .minict_wrapper  {
    width:95%;
    text-align:center;
}
.price_select select{
	float:left;
	width:300px!important;
}

.price_select .minict_wrapper {
	width:46%;
	float:left;
	margin-right:1em;
	margin-bottom:1.5em;
}
.posted_listing { position:relative!important; }
#social-buttons {
	float:right;

}
#social-buttons ul {
	padding:0;
	margin:0;
	display:block;
	margin-right: -20px;
	list-style-type: none;
}
#social-buttons ul li {
	display:inline-block;
	min-width:60px;
}
#social-buttons ul li a {
	padding:1em;
	text-align:center;
	display:block!important;
	color:#ECF0F1;
	height: 100%; 
	width: 100%;
}

#social-buttons ul li a:hover {
	background-color:#50597b;
	color:#fff;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .3s ease-in-out;
}
.price_select .select_min {
	margin-right:1em;
}
.search-container ::-webkit-input-placeholder {
	text-align:center;
}
.search-container input {
	text-align:center;
}
.search-container .main-search {
    margin-top:1em;
}
.search-result-container .span12 {
	min-height:400px;
}
.search-result-container .span4, .tax-lloji .span3 {
	margin:0;
	margin-left:20px!important;
}
.main-search {
    background-color:#e6cc2d;
}
.main-search:hover {
    background-color:#ecce1f;
}
.carousel-container div {
    float:left;
    display:block;
}
.carousel-container img {
    width:300px;
    height:200px!important;
}
.full-navigation ul {
    display:block;
    margin-bottom:0;
    margin-left:0;
    margin-top:0!important;
    padding-top:0!important;
}
.full-navigation ul li {
    display:block;
    width:100%;
    border-bottom:1px solid #E73623;
}
.full-navigation ul li a {
    position:relative;
    display:block;
    width:100%;
    text-align:center;
    color:#fff;
    text-shadow:0 1px rgba(100, 90, 13, 0.7);
    line-height:40px;
    padding:1em 0;
    font-size:1.5em;
    /*background-color:#E94735;*/
    background-color:rgba(231, 54, 35,0.2);
    border-bottom-color:#fff;
    -moz-transition:all .1s ease-in;
    -webkit-transition:all .1s ease-in;
    transition:all .1s ease-in;
}
.full-navigation ul li a:hover, .full-navigation ul li a:hover span, .full-navigation ul li a:hover span:after {
    background-color:#D32A17;
}
.full-navigation ul li a:hover {
    background-color:rgba(211, 42, 23, 0.5);
}
.full-navigation ul li a span {
    position:absolute;
    background-color:rgba(211, 42, 23, 0.2);
    display:block;
    height:100%!important;
    width:100px;
    line-height:40px;
    left:0;
    top:0;
}
.full-navigation ul li a span:hover {
    background-color:#D32A17;
}

.full-navigation ul li a span img {
    margin-top:10px;
    overflow:hidden;
    width:48px;
    height:48px;
}
.single-post-header, .single-post-header h3{
    background-color:#0F2944!important;
    position:relative!important;
}
.single-post-header h3 {
	color:#ecf0f1!important;
	border-bottom:0;
}
.single-post-header h3 p {
    width:93%;
    margin-bottom:0;
}
p.list_taxonomies {
	margin-bottom:0;
	padding:0.5em;
	color:#1abc9c;
}
p.list_taxonomies span {
  margin-right:0.5em;
}
p.list_taxonomies a {
  color:#fff;
}
li.previous_post, p.prev-link {
	/*margin-left:1em;*/
}
.banner {
    margin:1em 0;
    /*min-height:100px;*/
}
.banner h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
    text-align:center;
    font-weight:100;
}
.post-container, .post-content-top {
    margin:1em 0;
}

.post-container ul, .post-content-top ul {
    display:block;
    list-style:none;
    margin-left:0;
}
.post-container ul li, .post-content-top ul li {
    display:inline-block;
    margin-right:.5em;
}
.item {
    width:31%;
}
.post-content-latest h3, .post-content-top h3{
    padding:.3em;
    background-color:#24e3be;
    color:#fff;
}
.product-wrapper {
    border-bottom:1px solid #282333;
    padding:1em 0;
}
.product-wrapper figure {
    margin:0;
}
.image-wrapper {
    position:relative;
}

.product-description h5 {
    text-align:center;
    color:#2980b9;
}
.product-desription ul {
    display:block;
}
.product-description ul li {
    display:block;
    width:100%;
    text-align:center;
}
.main-sidebar ul {
	padding-left:0;
}
.main-sidebar, .post-content-main {
    padding-top:1em;
}
.main-sidebar h4 {
    font-weight:500;
}
.widget {
    margin-bottom:2em;
    border-bottom:1px dotted #222;
}
.widget ul {
    display:block;
    margin-left:0;
}
.social-icons ul {
	display:block;
}
.social-icons ul li {
    display:inline-block;
}
.latest-comments ul {
    display:block;
    margin-left:0;
}
.latest-comments ul li {
    color:#2c3e50;
}
.latest-comments ul li span {
    font-style:italic;
    color:#555;
}
.facebook-like {
    border:none;
}
.all-categories li a {
    color:#2980b9;
    font-size:1.1em;
    letter-spacing:1px;
}
.car_search_container { margin:0.5em 0; }
.car_search_container select { width:95%; border:1px solid #E5E5E5!important;}
.car_search_container select option { text-align:center!important; }
.car_search_container div, .car_search_special div { width:32%; float:left;}
.car_search_container #first { width:40%; }
.car_search_container #third { width:25%; }
.third_group ul li { font-size:12px!important; }
.listing-container {
    min-height:400px;
    height:auto!important;
    margin:2em 0 0 0;
    padding-bottom:2em;

}
.listing-container .span4 {
    margin-left:0;
}
<<<<<<< HEAD

.single_post_automjete, .site-content {
    position:relative;
}

.live-edit-button {
    left:0;
    top:-18px!important;
    width:120px;
}

.main_content { display:block!important; min-height:50px!important; padding:10px 0; width:95%; margin-bottom:40px; }

#social_container {margin-left:.5em; padding-top: 0.5em; display:block; width:100%; }
#success_loader { display:none; float:right; }
#success_loader img { margin-right:10px; margin-top:3px; }

.listing-container h4, .single_post_automjete h3, .post_user_info h4 ,.contact_container h4 {
    padding:0.5em;
    width:90%;
    color:#fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
    background:#2c3e50;
}
.single_post_automjete h3 {
  background-color:#0F2944!important;
  font-weight:500;
	position:relative;
	width:100%;
}

.single_post_automjete span.price_badge {
	position:absolute;
	right:-10px;
  top:5px;
	font-style:italic;
	font-weight:100;
	font-size:1.2em;
	padding:8px;
	color:#fff;
  background-color:#27AE60;
}
.single_post_automjete span.price_badge:before {
  display: block;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 43px;
  right: 0px;
  border-top: 10px solid #555;
  border-right: 10px solid rgba(0, 0, 0, 0);
}

.single_post_automjete p,span,a, ul li {
  font-weight:100!important;
}
ul.price_details {
	display:block;
	position:absolute;
	right:0;
	top:0;
	margin-top:0;
	z-index:9999;
}
.post_content_overview {
	margin-bottom:1em;
}
.post_content_overview ul li span {
	margin-left:0!important;
	padding-left:0!important;
	color:#c0392b;
}
.post_user_info i {
	color:#656565;
}
.price_details li {
	display:inline-block;
	padding:.5em;
	color:#fff;
	background-color:rgba(0, 0, 0, 0.2);
}
.post_user_info {
	margin-left:1em;
	margin-bottom:1em;
	border-bottom:1px solid #eaeaea;
}
.post_user_info h4 {
	width:100%;
}
.post_user_info ul {
	display:block;
	list-style:none;
}
.post_user_info ul li {
	padding:.5em;
}
.post_user_info ul li span {
	margin-left:2em;
}
.next_prev_post ul {
	display:block;
}
.next_prev_post ul li {
	display:inline-block;
}
.next-link, .prev-link {
	font-style:italic;
	letter-spacing: 1px;
}
.next-link a, .prev-link a {
	text-align:justify;
	color:#656565;
}
.post-thumbnail img {
	height:200px;
	border:10px solid #eaeaea;
}

.view {
	width:300px;
	height:200px;
	margin-right:10px;
	float:left;
	border:10px solid #fff;
	overflow:hidden;
	position:relative;
	text-align:center;
	box-shadow:1px 1px 2px #e6e6e6;
	cursor:default;
	background:#fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask, .view .content {
	width:300px;
	height:200px;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
}
.view img {
	width:300px;
	height:200px;
	display:block;
	position:relative;
}
.view h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	padding:10px;
	background:rgba(0, 0, 0, 0.8);
	margin:20px 0 0 0;
}
.view p {
	font-family:Georgia, serif;
	font-style:italic;
	font-size:12px;
	position:relative;
	color:#fff;
	padding:10px 20px 20px;
	text-align:center;
}
.view a.info {
	display:inline-block;
	text-decoration:none;
	padding:7px 14px;
	background:#000;
	color:#fff;
	text-transform:uppercase;
	box-shadow:0 0 1px #000;
}
.view a.info:hover {
	box-shadow:0 0 5px #000;
}
.view-first img {
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.view-first .mask {
	opacity:0;
	background-color:rgba(39, 174, 96, 0.7);
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	transition:all 0.5s ease-in-out;
}
.view-first h2 {
	-moz-transform:translateY(-100px);
	-webkit-transform:translateY(-100px);
	-o-transform:translateY(-100px);
	transform:translateY(-100px);
	opacity:0;
	transition:all 0.2s ease-in-out;
}
.view-first p {
	-moz-transform:translateY(100px);
	-webkit-transform:translateY(100px);
	-o-transform:translateY(100px);
	transform:translateY(100px);
	opacity:0;
	-moz-transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	transition:all 0.2s linear;
}
.view-first a.info {
	opacity:0;
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
	transition:all 0.2s ease-in-out;
}
.view-first:hover img { 
	  -moz-transform: scale(1.1);
	  -webkit-transform: scale(1.1);
	  -o-transform: scale(1.1);
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.view-first:hover p {
	  -moz-transition-delay: 0.1s;
	  -webkit-transition-delay:0.1s;
	  -o-transition-delay:0.1s;
    transition-delay: 0.1s;
}
.view-first:hover a.info {
	  -moz-transition-delay: 0.2s;
	  -webkit-transition-delay: 0.2s;
	  -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.listing-container label {
    margin-top:1em;
}
.listing-container input[type="checkbox"] {
    margin-right:0.5em;
}
.listing-container input[type="text"], .listing-container input[type="email"] {
    width:80%;
    outline:none!important;
    border-radius:0!important;
    min-height:35px!important;
    padding:0;
    padding:0.3em;
    color:#333;
}
.minict_wrapper input[type="text"]:focus {
    border:none!important;
}

.listing-container textarea {
    width:80%;
    resize:none;
    color:#333;
}
.contact_div .span4 { margin-top:-10px!important;}
.inputs-list { display:block; }
.inputs-list li { display:inline-block; list-style-type:none; width:30%;}
.list-files { display:block; }
.list-files li { display:inline-block; list-style-type:none; width:24%; padding-left:0.5em;}
.user label {
    margin-top:0;
}
.radio-btn {
    width:50%;
}
/*------------------
        4.FOOTER
------------------*/
.main-footer {
    background-color:#070A0D;
    height:200px!important;
    min-height:200px;
    padding-top:1.5em;
    color:#95a5a6;
}
.main-footer ul {
    margin-left:0;
    padding-left:0;
}
.main-footer a {
    color:#7f8c8d;
}
.main-footer h4 {
    color:#ecf0f1;
}

.copyright {
    text-align:center;
}
.copyright ul {
    display:block;
    margin-left:0;
}
.copyright ul li {
    display:inline-block;
    text-align:center;
    margin-right:1em;
}
.copyright ul li a {
    color:#ecf0f1;
}
.copyright p {
    text-align:center;
}

.icheckbox_square-green,
.iradio_square-green {
    display: block;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url('../images/green.png') no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
.icheckbox_square-green.hover {
    background-position: -24px 0;
}
.icheckbox_square-green.checked {
    background-position: -48px 0;
}
.icheckbox_square-green.disabled {
    background-position: -72px 0;
    cursor: default;
}
.icheckbox_square-green.checked.disabled {
    background-position: -96px 0;
}

.iradio_square-green {
    background-position: -120px 0;
}
.iradio_square-green.hover {
    background-position: -144px 0;
}
.iradio_square-green.checked {
    background-position: -168px 0;
}
.iradio_square-green.disabled {
    background-position: -192px 0;
    cursor: default;
}
.iradio_square-green.checked.disabled {
    background-position: -216px 0;
}

.main-container-3 {
    background-color:#E96D65;
    padding:2em 0!important;
}
/* -- Notice */
.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    z-index: 9999;
}
html > body .ui-pnotify {
    position: fixed;
}
.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
    box-shadow: 0px 2px 10px rgba(50, 50, 50, 0.5);
}
.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}
.ui-pnotify-sharp {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-pnotify-closer, .ui-pnotify-sticker {
    float: right;
    margin-left: .2em;
}
.ui-pnotify-title {
    display: block;
    margin-bottom: .4em;
}
.ui-pnotify-text {
    display: block;
}
.ui-pnotify-icon, .ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}
/* -- History Pulldown */
.ui-pnotify-history-container {
    position: absolute;
    top: 0;
    right: 18px;
    width: 70px;
    border-top: none;
    padding: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    /* Ensures history container is above notices. */
    z-index: 10000;
}
.ui-pnotify-history-container .ui-pnotify-history-header {
    padding: 2px;
}
.ui-pnotify-history-container button {
    cursor: pointer;
    display: block;
    width: 100%;
}
.ui-pnotify-history-container .ui-pnotify-history-pulldown {
    display: block;
    margin: 0 auto;
}
.ui-pnotify .picon {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 17px;
    height: 17px;
}
.ui-pnotify-title {
    line-height: 17px;
    min-height: 17px;
}

.ui-pnotify-title {
    text-align:center;
}
#image-preview ul {
	display:block;
	list-style-type: none;
}
#image-preview ul li {
	display:inline-block;
	margin-right:1em;
}
.fb-like iframe {
	max-width:none!important;
}
.posted_listing { min-height:150px; }
#frm_change_post input { padding:5px 10px; height:40px; width:100%; }
#kudos_container { position:absolute; right:5px; top:30px; }
.kudos_container { margin-top:1em; }

.container_404 { min-height:300px!important; text-align:center;}
.container_404 p { 
	color:#444;
	font-family:"Lucida Grande", "Helvetica Neue", sans-serif; 
	font-weight:100!important; 
	font-size:6em!important; 
	padding-bottom:0;
	margin-bottom:0;
	text-align:center;
}
.container_404 a { margin-top:1em; }
.next_prev_post { background-color:#F9F6F0; }
.related_posts li {padding:0.2em; display:block; width:100%; background-color:#F9F6F0; border-bottom:1px solid #ddd;}
.related_posts li:hover { color:#fff!important; background-color:#0F2944; -moz-transition:all .5s ease-in; -webkit-transition:all .5s ease-in; transition:all .5s ease-in; }
.related_posts li a img {}
.related_post li a { color:#0F2944!important; text-align:center; }
#auto_statistics .span3 { margin-bottom:2%; }
#auto_statistics .auto_container { min-height:180px; }
#auto_statistics .auto_container .title h3 { position:absolute; display:block; bottom:-20px; width:100%; background-color:#0F2944; }
#auto_statistics .auto_container .views { position:absolute; bottom:15px; z-index:999;}

.main-menu .span3 { margin-left:0!important; }

.wrapper{
  padding-bottom: 130px;
}

.clear{
  clear: both;
}

.spacer{
  clear: both;
  height: 40px;
}

.ib{
  display: inline-block;
}

.ab{
  position: absolute;
}

.caps{
  text-transform: uppercase;
}

.left{
  float: left;
}

.right{
  float: right;
}

.hidden{
  visibility: hidden;
}

.trans{
  opacity: 0;
}

.break{
  width: 100%;
  height: 0;
  margin: 0;
}

.wf{
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.ns{
  -webkit-user-select: none;
  -moz-user-select: none;
    user-select: none;
}

.just{
  text-align: justify;
}

.just::after{
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}

.anim150{
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.anim250{
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

/* ------ GLOBAL DEMOS HEADER ------ */

header #Logo{
  height: 30px;
  margin-top: 17px;
  text-align: justify;
}

header #Logo ul{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  list-style-type: none;
  
  font-size: 8px;
  line-height: 8px;
  letter-spacing: -2px;
}

header #Logo li{
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 0 3px 0;
  background: #3c9ada;
  vertical-align: top;
}

header #Logo li:nth-of-type(2){
  background: #5558ce;
}

header #Logo li:nth-of-type(3){
  background: #9247cb;  
}

header #Logo li:nth-of-type(4){
  background: #e0339c;  
}

header #Logo li:nth-of-type(5){
  background: #f63b47;  
}

header #Logo li:nth-of-type(6){
  background: #fc672b;  
}

header #Logo li:nth-of-type(7){
  background: #f8ca31;  
}

header #Logo li:nth-of-type(8){
  background: #b0de33;  
}

header #Logo li:nth-of-type(9){
  background: #37c73d;  
}

.wrapper header .button{
  background: #1db542;
  height: 32px;
  padding: 0 16px;
  margin-top: 16px;
  cursor: pointer;
  border-top: 1px solid rgba(255,255,255,.4);
  vertical-align: top;
  /*
  font-family: 'Open Sans';*/
  font-size: 14px;
  color: #fff !important;
  font-weight: 600;/*
  letter-spacing: 1px;*/
  line-height: 30px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  text-transform: uppercase;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.wrapper header .button:hover{
  background: #37c73d;
  border-top: 1px solid #000;

  text-shadow: none;

  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
  -moz-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
  -ms-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
  -o-box-shadow: inset 0 0 8px rgba(0,0,0,.4);
  box-shadow: inset 0 0 8px rgba(0,0,0,.4);
}


section.post-content-special{
  background: #fff;
  /*font-family: 'Source Sans Pro', sans-serif;*/
}
section.post-content-special .pagination {
  padding:0!important;
}
.wrapper{
  margin: 0 auto;
  min-height:300px;
  max-width: 1200px;
  padding: 0 15px 0!important;
}
.wrapper .btn {
  padding:0;
  padding:0 0.5em;
}
#Parks{
  margin-bottom: 30px;
}

/* IMAGES */

.wrapper .img_wrapper{
  position: relative!important;
  background: #f0ebe5;
  overflow: hidden;
}

.wrapper .img_wrapper img{
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  top: 0;
  
  -webkit-transition: opacity 150ms;
  -moz-transition: opacity 150ms;
  -ms-transition: opacity 150ms;
  transition: opacity 150ms;
}

.wrapper .img_wrapper.loaded img{
  opacity: 1;
  max-width:100%;
  height:100%;
}

/* CONTROLS STYLES */

.wrapper .controls{
  height: 100px;
  line-height: 100px;
}

.wrapper .group{
  display: inline-block;
}

.wrapper .button,
.wrapper .drop_down{
  display: inline-block;
  width: 107px;
  height: 31px;
  line-height: 30px;
  padding: 0 8px;
  background: #c3bdb8;
  vertical-align: middle;
  margin-right: 10px;
  color: #f9f6f0;
  text-transform: uppercase;
  cursor: pointer;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.wrapper .drop_down{
  width: auto;
  margin: 0 0 0 20px;
  background: none;
  color: #fff;
  padding: 0;
  position: relative;
  letter-spacing: 2px;
  z-index: 999;
}

.wrapper .drop_down span{
  position: relative;
  padding-right: 20px;
}

.wrapper .drop_down span::after,
.wrapper .drop_down span::before{
  position: absolute;
  top: 8px;
  right: 3px;
  display: block;
  content: '';
  border: 6px solid transparent;
  /*border-top: 7px solid #c3bdb8;*/
}

.wrapper .drop_down span::before{
  top: 8px;
  border-top-color: #f9f6f0;
  z-index: 10;
}

.wrapper .drop_down:hover span::after{
  border-top-color: #333;
}

.wrapper .drop_down ul{
  position: absolute;
  opacity: 0;
  max-height: 0;
  right: -3px;
  background: #fff;
  padding: 10px;
  min-width: 170px;
  text-align: right;
  overflow: hidden;
  
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index:999;
}

.wrapper .drop_down:hover ul{
  opacity: 1;
  max-height: 300px;
}

.wrapper .drop_down:hover span{
  color: #fff;
}

.wrapper .drop_down li{
  display: block;
  text-transform: none;
  color: #444;
  font-weight: 500!important;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 10px;
  font-size:.9em;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  transition: all 150ms;
}

.wrapper .drop_down li:after{
  content: '';
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  top: 1px;
  margin-left: 6px;
  border: 1px solid #ccc;
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.wrapper .drop_down li:last-of-type{
  margin: 0;
}

.wrapper .drop_down li:hover{
  color: #444;
}

.wrapper .drop_down li.active{
  color: #E95D4E;
  font-weight: 400;
}

.wrapper .drop_down li.active:after{
  background: #E95D4E;
  border-color: #E95D4E;
}

.wrapper .button.active{
  background: #E95D4E;
}

.wrapper .button i{
  position: relative;
  display: inline-block;
  background: #f9f6f0;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  top: 3px;
}

.wrapper .button i:before,
.wrapper .button i:after{
  content: '';
  position: absolute;
  display: block;
  background: #c3bdb8;
}

#ToGrid i:before,
#ToGrid i:after{
  width: 100%;
  height: 3px;
  top: 7px;
}

#ToGrid i:after{
  width: 3px;
  height: 100%;
  top: 0;
  left: 7px;
}

#ToList i:before,
#ToList i:after{
  width: 100%;
  height: 4px;
  top: 3px;
}

#ToList i:after{
  top: 10px;
}

.wrapper .button.active i:before,
.wrapper .button.active i:after{
  background: #E95D4E;
}

/* FAIL ELEMENT */

#Parks{
  position: relative;
  margin:0;
}

.fail_element{
  position: absolute;
  opacity: 0;
  top: 50px;
  text-align: center;
  /*width: 50%;*/
  left: 28%;
  letter-spacing:0;
  line-height: 1.4;
  font-size: 25px;
  font-weight: 300;
}

.fail .fail_element{
  opacity: 1;
}

/* LIST VIEW STYLES */

#Parks.list .list_header{
  height: 38px;
  line-height: 38px;
  background: #34495E;
  text-align: right;
  color: #fff;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#Parks.list .meta{
  display: inline-block;
  width: 195px;
  text-align: center;
  line-height: 99px;
  border-left: 1px solid #d7d7d7;
  height: 100%;
  vertical-align: top;
}

#Parks.list .list_header .meta{
  line-height: 38px;
  border: 0 none;
}

#Parks.list .meta.name{
  float: left;
  text-align: left;
  width: auto;
  border-left: 0 none;
}

#Parks.list .list_header .meta.name{
  padding-left: 15px;
}

#Parks.list .list_header .meta span{
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 7px 0 0;
  cursor: pointer;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#Parks.list .list_header .meta span:after{
  content: '';
  position: absolute;
  top: 9px;
  left: 7px;
  border: 5px solid transparent;
}

#Parks.list .list_header .meta span.asc:after{
  border-top: 7px solid #c3bdb8;
}

#Parks.list .list_header .meta span.desc:after{
  top: 4px;
  border-bottom: 7px solid #c3bdb8;
}

#Parks.list .list_header .meta span:hover{
  background: #c3bdb8;
}

#Parks.list .list_header .meta span.asc:hover:after{
  border-top-color: #f0ebe5;
}

#Parks.list .list_header .meta span.desc:hover:after{
  border-bottom-color: #f0ebe5;
}

#Parks.list .list_header .meta span.active.asc:after{
  border-top-color: #E95D4E;
}

#Parks.list .list_header .meta span.active.desc:after{
  border-bottom-color: #E95D4E;
}


#Parks.list .mix{
  display: none;
  opacity: 0;
  padding: 12px 0 18px!important;
  border-bottom: 1px solid #d7d7d7;
  text-align: right;
  height: auto!important;
  width: 100%;
  line-height: 99px;
  /*background: #f9f6f0;*/
  background: #fff;
  vertical-align: top;
  font-weight: 300;
}

#Parks.list .mix .meta *{
  line-height: 1;
}
#Parks.list .mix .area p, #Parks.list .mix .region a { font-size:1em; color:#0F2944; }
#Parks.list .mix .area div p { font-size:1.5em; color:rgb(39, 174, 96); }
#Parks.list .mix .meta p,
#Parks.list .mix .meta ul{
  display: inline-block;
  vertical-align: middle;
  list-style: none;
}

#Parks.list .mix .meta li{
  margin-bottom: 5px;
}

#Parks.list .mix .meta p.price_tag {
  font-size:1.5em;
  color:#27AE60;
  vertical-align:0!important;
}
#Parks.list .mix .meta p.price_tag small { font-size:10px; text-decoration:line-through; color:#444; }
#Parks.list .img_wrapper{
  display: inline-block;
  width: 150px;
  height: 110px;
  vertical-align: top;
  margin-right: 30px;
}

#Parks.list .titles{
  display: inline-block;
  vertical-align: middle;
}

#Parks.list .titles h2{
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #34495E;
  margin-bottom: 3px;
  line-height: 1.2 !important;
}
#Parks.list .titles h2 a { color:#0F2944!important; }
#Parks.list .grid_price_status, #Parks.list .extra-info { display:none;}
#Parks.list .area div { line-height:99px!important; }
#Parks.list .titles p{
  text-indent: -2px;
}
#Parks.list .main-info ul { display:block; color:#777!important; }
#Parks.list .main-info ul li { display:inline-block; margin-right:1em; }
#Parks.list .main-info ul li i { margin-right:3px; color:#555; }


/* GRID VIEW STYLES */

#Parks.grid{
  text-align: justify;
}

#Parks.grid .list_header{
  display: none;
}
#Parks.grid .all_price {
  bottom:53px;
  z-index:999;
}
#Parks.grid .all_price:before {
  top:30px;
}
#Parks.grid .all_price p {
  margin:0;
  padding:0;
}
#Parks.grid .meta.name{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: block;
}
#Parks.grid .extra-info { 
  display:block!important; 
  position:absolute; 
  width:100%; 
  padding:0.5em;
  bottom:-40px;
  border-bottom: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
 }
#Parks.grid .extra-info .more_info { 
  color:#1b1b1b;
}
#Parks.grid .grid_price_status { margin-bottom:50px; padding:0; }
#Parks.grid .mix{
  position: relative!important;
  display: none;
  opacity: 0;
  /*width: 32.5%;
  padding-top: 26%;
  margin-bottom: 3%;*/
  min-height:200px;
  height:250px;
  width: 24%;
  margin-right:10px;
  margin-bottom: 5%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}

#Parks.grid .img_wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}

#Parks.grid .titles{
  position: absolute!important;
  width: 100%;
  max-width: 400px;
  height: auto;
  bottom: 0px;
  margin:0;
  padding:0;
  z-index: 1;
  background-color:#0F2944;
  text-align: center;
}

#Parks.grid .titles h2{
  font-weight: 700;
  font-size:0.9em;
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
  margin-bottom: 3px;
}
#Parks.grid .titles h2 a { color:#fff!important; font-weight:100!important; }
#Parks.grid .titles p{
  display:none!important;
  font-weight: 300;
  text-indent: -2px;
}
#Parks.grid .mix .meta p.price_tag small { text-decoration: line-through; display:none; }

/*!
 * Bootstrap v2.3.1-j6
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat, extended by @ArnoldDaniels.
 */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);/*transform:translate(-300px, 0) scale(4);*/ font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.fileupload-preview { width:200px; height:150px; }
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{outline:0;}
#cboxContent{margin-top:32px; overflow:visible; background:#000;}
.cboxIframe{background:#fff;}
#cboxError{padding:50px; border:1px solid #ccc;}
#cboxLoadedContent{background:#000; padding:1px;}
#cboxLoadedContent img { max-width: 100%!important;}
#cboxLoadingGraphic{background:url(../images/loading1.gif) no-repeat center center;}
#cboxLoadingOverlay{background:#000;}
#cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
#cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../images/controls.png) no-repeat 0 0;}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

#cboxPrevious{background-position:0px 0px; right:44px;}
#cboxPrevious:hover{background-position:0px -25px;}
#cboxNext{background-position:-25px 0px; right:22px;}
#cboxNext:hover{background-position:-25px -25px;}
#cboxClose{background-position:-50px 0px; right:0;}
#cboxClose:hover{background-position:-50px -25px;}
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
.cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
.cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
.cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
.cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('font/flexslider-icon.eot');
	src:url('font/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('font/flexslider-icon.woff') format('woff'),
		url('font/flexslider-icon.ttf') format('truetype'),
		url('font/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #0F2944; border-top:0px; position: relative; zoom: 1; }
.flexslider li.image-container img { width:100%; /*height: 460px!important;*/ max-height:650px; overflow:hidden;}
.flexslider ul.slides { background-color:#0F2944 } 
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 50px; height: 50px; padding:0 1em; position: absolute; top: 40%; z-index: 10; /*overflow: hidden;*/ opacity: 0; cursor: pointer; color: #ecf0f1; text-shadow: 0  1px #2c3e50; background-color:#34495e; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left:0;}
.flexslider:hover .flex-next { opacity: 0.7; right:0;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; margin-top:15px; font-size: 38px; display: inline-block; content: "\f001"; }
.flex-direction-nav a.flex-next:before  { content: "\f002"; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: "\f003"; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; background-color:#0F2944!important;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {position: static; overflow: hidden; background-color:#486684;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}


.minict_wrapper{font-family:"Segoe UI", Segoe, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;color:#333;background:#fff;position:relative;width:80%;height:2.2rem;border:1px solid #e5e5e5;border-radius:3px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.minict_wrapper *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.minict_wrapper:after{content:"\25BC";display:block;position:absolute;height:2.1rem;width:2.1rem;top:0;right:0;font-size:.6rem;line-height:1.9rem;text-align:center;color:#555}.minict_wrapper.active:after{content:"\25B2"}.minict_wrapper input{border:0;outline:none;background:none;font-family:"Segoe UI", Segoe, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;color:#333;font-size:1rem;height:1.9rem;padding:0 2.2rem 0 .4rem;cursor:default;width:100%}.minict_wrapper ul{display:none;list-style:none;padding:0;margin:0;position:absolute;width:100%;border:1px solid #e5e5e5;border-radius:3px;top:2rem;left:0;max-height:22rem;overflow-y:auto;z-index:999999}.minict_wrapper ul li{list-style:none;font-size:1rem;padding:0 .7rem;cursor:pointer;background:#fff;height:2.2rem;line-height:2rem}.minict_wrapper ul li:hover{background:#EBEBEB;color:#111;}.minict_wrapper ul li.minict_group{color:#444;background:#f6f6f6;font-weight:bold;cursor:default}.minict_wrapper ul li.minict_empty{display:none;background:#fff !important;color:#bbb;text-align:center;font-size:.9rem;height:3.5rem;line-height:3.3rem}.minict_wrapper ul li.selected{color:#819a9a;background:#f9fcff}.minict_wrapper ul li.highlighted{color:#fff;background:#819a9a}.minict_wrapper ul li.hidden{display:none}.minict_wrapper.bubble{-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, .05);box-shadow:0 1px 3px 0 rgba(0, 0, 0, .05);background:-moz-linear-gradient(top, #fff 0%, #f9f9f9 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f9f9f9));background:-webkit-linear-gradient(top, #fff 0%, #f9f9f9 100%);background:-o-linear-gradient(top, #fff 0%, #f9f9f9 100%);background:-ms-linear-gradient(top, #fff 0%, #f9f9f9 100%);background:linear-gradient(bottom, #fff 0%, #f9f9f9 100%)}.minict_wrapper.bubble:hover{border-color:#dcdcdc}.minict_wrapper.bubble:after{border-left:1px solid #e5e5e5;-webkit-box-shadow:inset 1px 0 0 0 #fff;box-shadow:inset 1px 0 0 0 #fff;height:2.05rem}.minict_wrapper.bubble ul{top:2.7rem;-webkit-box-shadow:0 5px 25px 0 rgba(0, 0, 0, .25);box-shadow:0 5px 25px 0 rgba(0, 0, 0, .25);border-radius:6px;overflow:visible}.minict_wrapper.bubble ul:before{position:absolute;top:-11px;left:19px;content:".";color:transparent;width:0;height:0;border-style:solid;border-width:0 11px 11px 11px;border-color:transparent transparent #e5e5e5 transparent}.minict_wrapper.bubble ul:after{position:absolute;top:-10px;left:20px;content:".";color:transparent;width:0;height:0;border-style:solid;border-width:0 10px 10px 10px;border-color:transparent transparent #fff transparent}.minict_wrapper.bubble ul li.minict_first{border-top-left-radius:6px;border-top-right-radius:6px}.minict_wrapper.bubble ul li.minict_last{border-bottom-left-radius:6px;border-bottom-right-radius:6px}

footer .info p { margin-bottom:0; }
footer .span4 { text-align:center; }
.contact_container { min-height:450px; }
.contact_container h4 { text-align:center; }
.contact_container form input[type="text"], .contact_container form textarea { color:#333!important; } 
#contact_letter { margin: 1em 0;}
#kontakt input[type="text"], #kontakt input[type="email"], #kontakt input[type="submit"] { min-height:35px; }
#kontakt .error { width:100%; }
#kontakt p { margin-bottom:0; margin-bottom:.5em;}
#kontakt .message_name { width:49%; }
#kontakt .message_name input[type="text"] { width:100%; }
#kontakt .message_email {float:right; width:50%;}
#kontakt .message_text { width:100%; }
#kontakt .message_text textarea { width:100%; }
#kontakt .message_email input[type="text"] { width:100%; }
#kontakt p label { width:auto; display:inline-block!important; }
#kontakt textarea  { width:500px; }
#kontakt label.message_human { width:70%; }
#kontakt p.message_submit input[type="text"] { width:80%; }
#kontakt p.message_submit input[type="submit"] { float:right; margin-top:1em;}
#kontakt ul { display:block; }
#kontakt ul li { display:inline-block; margin-right:1em; color:#444; }
#kontakt ul li:last-child { margin-right:0; }

.model-search > div { display:inline-block; height:150px; float:left; overflow-y:scroll!important;}
#select_serie {min-height:35px;margin:0; }
#select_year { width:80%!important; }


.price-reduced { position:absolute; right:-10px; top:50px; text-decoration:line-through; border-radius:0!important; }
.price-reduced:after { 
  display: block;
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 26px;
  right: 0px;
  border-top: 10px solid #555;
  border-right: 10px solid rgba(0, 0, 0, 0); 
}
.photoAddTitle i { text-align:center; color:#fff; font-weight:100!important; background:#6E7D8B; -moz-border-radius:8px!important; -webkit-border-radius:8px!important; border-radius:8px!important;font-size:10px; margin-left:5px;}
.wpfp-span { margin:0; bottom:0; position:absolute; background-color:#fff!important; width:50%; line-height:45px; height:45px;}
.wpfp-img { margin-right:0px; float:left; }
a.savePostsLink { position:absolute; right:0; bottom:0; width:50%; height:45px;}
#fav_posts br { display:none!important; }
#fav_posts .post .entry br { display:none!important; }
#fav_posts .post { width:32%; background:#0F2944; float:left; margin:0.5em; position:relative;}
#fav_posts .post h3 { margin-top:0; }
#fav_posts .post .entry h3 a { font-size:14px; text-align:center; line-height: 10px!important; color:#fff; }
#fav_posts img { margin-left:0; margin-bottom:0; margin-top:0; }
#fav_posts a.remove-parent { background:#ED7669; position:absolute; top:0; right:0; color:#fff; font-size:14px; padding:0 .5em; width:50px; height:25px; }
.wpfp-link, .savePostsLink { color:#2C3E50; }
.wpfp-span:hover, .savePostsLink:hover { background-color:#2c3e50!important; color:#fff; transition:all .2s ease-in; -transition:all .2s ease-in; -webkit-transition:all .2s ease-in; }
.wpfp-span:hover a { color:#fff; } 
/*------------------
        5.MEDIA QUERIES
------------------*/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
		body { margin:0; padding:0; }
		/** TOP HEADER **/
		ul.navlinks { display:block!important; width:50%; float:left; }
		#social-buttons-inner ul { display:block!important; float:left; }
		#social-buttons ul { display:block!important; margin:0;}
		#social-buttons ul li { display:inline-block!important; font-size:12px; padding:0; min-width:30px;}
		#social-buttons ul li a { font-size:12px; padding:0; padding:0.5em!important;}
		#social-buttons ul li a i { width:14px; height:14px; }
		ul.navlinks li { display:inline-block; }
		#top-navigation ul li { padding:0; margin-top:5px; }
		#top-navigation ul li a { font-size:13px!important;}
		.logo-container { display:none; }

    /** MAIN MENU **/
		.main-menu { padding:0; }
		.navbar { margin:0; padding:0; }
		.navbar-inner { padding:0; background-color:#0F2944; -moz-border-radius:0px; webkit-border-radius:0px; -o-border-radius:0px; border-radius:0px;}
		a.btn-navbar { float:left!important; background-color:#1A4675!important; margin:0.2em 0;}
		a.main-green { margin:0.5em 0; margin-left:20%!important;}
		.main-navigation ul { display: block; }
		.main-navigation ul li { display:inline-block; width:100%; text-align:center; }
		.main-navigation ul li:hover { background-color:#1A4675; -moz-trasition:all .4s ease-in; -webkit-transition: all .4s ease-in; transition:all .4s ease-in; }
		.main-navigation ul li a { color:#fff; }

		/** MAIN CONTENT **/
		.main-content { background:#fff!important; padding:0; }
		.main-content form { padding:0; }
		.search-form-container { width:100%; margin:0; }
		#search { width:100%; }
		.probox,#ajaxsearchlite { width:280px!important; margin:0; }
		.search-container h4 i.paper { z-index:999; top:-8px; }
		#ajaxsearchlite, .probox { border:none!important; background:#fff!important; }
		#ajaxsearchlite .probox .prosettings { display:none; }
		#ajaxsearchlite .probox .proinput { width:95%!important; }
		#ajaxsearchlite .probox .promagnifier { margin-right:5px!important; }
		.search-container ::-webkit-input-placeholder, #ajaxsearchlite ::-webkit-input-placeholder, .search-form-container input[type="text"] ::-webkit-input-placeholder {text-align:left; font-size:12px!important; }
		.search-form-container label { font-size:12px!important; }
		span.see-all { display:none; }
		.price_select .minict_wrapper { width:95%!important; margin:0; }
		.price_select > .minict_wrapper { margin-bottom: 10px; }
		.search-form-container .btn { width:95%; }
		.car_search_container select { color:#333; font-weight:400!important; }
		#search_cars { margin-bottom:5px; }
		.banner-container { display:none; }
                .car_search_special div { width:100%; display:block; }
                .third_group ul li { font-size:1em!important; }
		/** POST CONTENT **/
		.post-content { padding:0 0.5em; height:auto!important; }
		#main { height:auto!important; }
		h3.page-header { font-size:1.3em; }
		.auto_container { height:auto!important; min-height:100px; }
                .social_addthis  { position:relative; background-color:#0F2944; margin:0!important; right:0; }
                .social_addthis ul { margin:0; }
                /** SHPALLJE **/
                .listing-container h4, .single_post_automjete h3, .post_user_info h4 { width:100%; }
                .listing-container input[type="text"], .listing-container input[type="email"], .listing-container textarea, .listing-container select, .minict_wrapper { width:95%!important; margin:0 2%; }
                .listing-container label { margin-left:2%; }
                .listing-container input[type="submit"] { width:300px; margin-left:5% } 
                .btn-file{ width:320px; display:block; }
                .list-files li { display:block; }
                .fileupload-preview { width:320px!important; }
                .fileupload-exists { width:320px!important; display:inline-block; margin:0.5em 0; }
                .fileupload-exists .btn-inverse { padding:0; }
                .fileupload-exists .btn-inverse i { margin:0!important; }
                .inputs-list, .select-cars select.car_select, select.ac_kubik { margin-left:2%!important; }
                .inputs-list li { font-size: 12px!important; }
                .ui-pnotify { width:320px!important; }
                .ui-pnotify-text { text-align:center; }
                
                #Parks.list .list_header .meta.name { margin:0; }
                #Parks.list .list_header .meta.name { background-color:#34495E; }
                #Parks.list .list_header { width:100%; }
                #Parks.list .main-info ul { display: none!important; }
                #Parks.list .mix { border-bottom:0!important; }
                .wrapper .drop_down ul, .wrapper .drop_down span, #Filters { display:none; }
                #Parks.list .img_wrapper { margin:0; }
                #Parks.list .meta.name { width:320px; margin:0;}
                .flexslider li.image-container img { width:100%; height: auto!important; overflow:hidden;}
		/** FOOTER **/
		.main-footer { height:auto!important; padding:0 0.5em!important; text-align:center; }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

	body { margin:0; padding:0; }
		/** TOP HEADER **/
		ul.navlinks { display:block!important; width:50%; float:left; }
		#social-buttons-inner ul { display:block!important; float:left; }
		#social-buttons ul { display:block!important; margin:0;}
		#social-buttons ul li { display:inline-block!important; font-size:12px; padding:0; min-width:30px;}
		#social-buttons ul li a { font-size:12px; padding:0; padding:0.5em!important;}
		#social-buttons ul li a i { width:14px; height:14px; }
		ul.navlinks li { display:inline-block; }
		#top-navigation ul li { padding:0; margin-top:5px; }
		#top-navigation ul li a { font-size:13px!important;}
		.logo-container { display:none; }

	/*** Header *****/
	#social-buttons{
		float:left;
	}

	   /** MAIN MENU **/
		.main-menu { padding:0; }
		.navbar { margin:0; padding:0; }
		.navbar-inner { padding:0; background-color:#0F2944; -moz-border-radius:0px; webkit-border-radius:0px; -o-border-radius:0px; border-radius:0px;}
		a.btn-navbar { float:left!important; background-color:#1A4675!important; margin:0.2em 0;}
		a.main-green { margin:0.5em 0; margin-left:20%!important;}
		.main-navigation ul { display: block; }
		.main-navigation ul li { display:inline-block; width:100%; text-align:center; }
		.main-navigation ul li:hover { background-color:#1A4675; -moz-trasition:all .4s ease-in; -webkit-transition: all .4s ease-in; transition:all .4s ease-in; }
		.main-navigation ul li a { color:#fff; }

/** MAIN CONTENT **/
		.main-content { background:#fff!important; padding:0; }
		.main-content form { padding:0; }
		.search-form-container { width:100%; margin:0; }
		#search { width:100%; }
		.probox,#ajaxsearchlite { width:280px!important; margin:0; }
		.search-form-container {padding-top: 80px;}
		.search-container h4 i.paper { z-index:999; }
		#ajaxsearchlite, .probox { border:none!important; background:#fff!important; }
		#ajaxsearchlite .probox .prosettings { display:none; }
		#ajaxsearchlite .probox .proinput { width:95%!important; }
		#ajaxsearchlite .probox .promagnifier { margin-right:5px!important; }
		.search-container ::-webkit-input-placeholder, #ajaxsearchlite ::-webkit-input-placeholder, .search-form-container input[type="text"] ::-webkit-input-placeholder {text-align:left; font-size:12px!important; }
		.search-form-container label { font-size:12px!important; }
		span.see-all { display:none; }
		.price_select .minict_wrapper { width:95%!important; margin:0; }
		.price_select > .minict_wrapper { margin-bottom: 10px; }
		.search-form-container .btn { width:95%; }
		.car_search_container select { color:#333; font-weight:400!important; }
		#search_cars { margin-bottom:5px; }
		.banner-container { display:none; }
                .car_search_special div { width:100%; display:block; }
                .third_group ul li { font-size:1em!important; }

	/** SHPALLJE **/
                .listing-container h4, .single_post_automjete h3, .post_user_info h4 { width:100%; }
                .listing-container input[type="text"], .listing-container input[type="email"], .listing-container textarea, .listing-container select, .minict_wrapper { width:95%!important; margin:0 2%; }
                .listing-container label { margin-left:2%; }
                .listing-container input[type="submit"] { width:275px; margin-left:2% } 
                .btn-file{ width:275px; display:block; }
                .list-files li { display:block; }
                .fileupload-preview { width:275px!important; }
                .fileupload-exists { width:300px!important; display:inline-block; margin:0.5em 0; }
                .fileupload-exists .btn-inverse { padding:0; }
                .fileupload-exists .btn-inverse i { margin:0!important; }
                .inputs-list, .select-cars select.car_select, select.ac_kubik { margin-left:2%!important; }
                .inputs-list li { font-size: 12px!important; }
                .ui-pnotify { width:320px!important; }
                .ui-pnotify-text { text-align:center; }
                
                #Parks.list .list_header .meta.name { margin:0; }
                #Parks.list .list_header .meta.name { background-color:#34495E; }
                #Parks.list .list_header { width:100%; }
                #Parks.list .main-info ul { display: none!important; }
                #Parks.list .mix { border-bottom:0!important; }
                .wrapper .drop_down ul, .wrapper .drop_down span, #Filters { display:none; }
                #Parks.list .img_wrapper { margin:0; }
                #Parks.list .meta.name { width:320px; margin:0;}
                .flexslider li.image-container img { width:100%; height: auto!important; overflow:hidden;}
                /** FOOTER **/
		.main-footer { height:auto!important; padding:0 0.5em!important; text-align:center; }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
       
}
/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}
/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {

}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {

}

@media (max-width: 500px){
	header .wrapper{
    padding: 0 15px !important;
  }

  #Parks.grid .mix{
    width: 100%;
    padding-top: 53%;
  }
  
  .drop_down{
    display: none;
  }
}

@media (max-width: 1000px){
  #Parks.list .meta {
    width: 150px;
  }
  
  #Parks.list .titles {
    width: 150px;
  }
}

@media (max-width: 840px){
  #Parks.list .meta.region,
  #Parks.list .meta.rec {
    display: none;
  }
}

@media (max-width: 540px) {
  #Parks.list .meta.area {
    display: none;
  }
}